* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.container-header {
  max-width: 1200px;
  margin: auto;
}

.container {
  max-width: 1440px;
  margin: auto;
}

header {
  background-color: #181818;
}
header .header {
  width: 100%;
  height: 90px;
  background-color: #181818;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header svg {
  width: 128px;
  margin-right: 200px;
}
header .header nav a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 20px;
  margin-left: 56px;
}
header .header button {
  letter-spacing: 0.4px;
  width: 155px;
  height: 42px;
  border-radius: 14px;
  background-color: #FFFFFF;
}

main .first-section {
  width: 100%;
  height: 787px;
  background-color: #000000;
}
main .first-section .section1 {
  width: 100%;
  height: 711px;
  background: rgb(11, 84, 98);
  background: linear-gradient(176deg, rgba(11, 84, 98, 0.5553571771) 0%, rgba(1, 1, 19, 0.9139005944) 58%), url("../image/section1.jfif");
  background-size: cover;
}
main .first-section .container {
  height: 100%;
}
main .first-section .paragraph-icon {
  height: 100%;
  justify-content: flex-end;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}
main .first-section .paragraph-icon .paragraph span {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
}
main .first-section .paragraph-icon .paragraph h2 {
  font-size: 54px;
  line-height: 59.4px;
  margin-bottom: 18px;
}
main .first-section .paragraph-icon .paragraph p {
  width: 580px;
  font-size: 14px;
  line-height: 20px;
}
main .first-section .paragraph-icon .icon {
  align-self: flex-end;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}
main .first-section .paragraph-icon .icon span {
  margin-right: 16px;
}
main .second-section {
  background-color: #000000;
  height: 1558px;
}
main .second-section .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 42px;
}
main .second-section .title h2 {
  font-size: 40px;
  line-height: 42px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}
main .second-section .title p {
  font-size: 23px;
  line-height: 30px;
  color: #C0C0C0;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
main .second-section .all-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .second-section .all-cards .card {
  width: 576px;
  height: 600px;
  margin: 10px;
  position: relative;
}
main .second-section .all-cards .card img {
  width: 576px;
  height: 600px;
  overflow: hidden;
}
main .second-section .all-cards .card .detail {
  position: absolute;
  bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  padding: 0px 25px 30px 30px;
}
main .second-section .all-cards .card .detail h3 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
main .second-section .all-cards .card .detail p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}
main .second-section .all-cards .card .detail .fa-circle {
  color: #000000;
  position: absolute;
  margin-top: 8px;
  margin-left: 7px;
  font-size: 25px;
}
main .second-section .all-cards .card .detail button {
  width: 143px;
  height: 42px;
  border-radius: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 20px;
  color: #000000;
  text-indent: 10px;
}
main .third-section {
  background-image: url(../image/third-section.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  width: 100%;
}
main .third-section .container {
  height: 100%;
  width: 100%;
}
main .third-section .paragraph-icon {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}
main .third-section .paragraph-icon .paragraph h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
main .third-section .paragraph-icon .paragraph p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  width: 298px;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  margin-bottom: 350px;
}
main .third-section .paragraph-icon .icon {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 40px;
}
main .third-section .paragraph-icon .icon span {
  margin-right: 16px;
}
main .forth-section {
  width: 100%;
  height: 544px;
  background-color: #000000;
}
main .forth-section .section4 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .forth-section .section4 .left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 106px 0 100px;
}
main .forth-section .section4 .left-side h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #C0C0C0;
  text-transform: uppercase;
}
main .forth-section .section4 .left-side h3 {
  font-size: 14px;
  line-height: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}
main .forth-section .section4 .left-side p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
}
main .forth-section .section4 .left-side .fa-circle {
  color: #000000;
  position: absolute;
  margin-top: 8px;
  margin-left: 7px;
  font-size: 25px;
}
main .forth-section .section4 .left-side button {
  width: 152px;
  height: 42px;
  border-radius: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 20px;
  color: #000000;
  text-indent: 10px;
}
main .forth-section .section4 .right-side {
  width: 50%;
  height: 100%;
  background-image: url(../image/section4.jfif);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
main .forth-section .section4 .right-side .icon {
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}
main .forth-section .section4 .right-side .icon span {
  margin-right: 16px;
}
main .fifth-section {
  background-image: url(../image/section5.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
}
main .fifth-section .container {
  height: 100%;
  width: 100%;
}
main .fifth-section .section5 {
  width: 100%;
  height: 100%;
}
main .fifth-section .paragraph-icon {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}
main .fifth-section .paragraph-icon .paragraph h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
main .fifth-section .paragraph-icon .paragraph p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  width: 273px;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  margin-bottom: 200px;
}
main .fifth-section .paragraph-icon .icon {
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}
main .fifth-section .paragraph-icon .icon span {
  margin-right: 16px;
}
main .sixth-section {
  background-color: #000000;
  height: 500px;
}
main .sixth-section .section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .sixth-section .section6 .title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 82px;
  margin-top: 113px;
}
main .sixth-section .section6 .title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 40px;
  line-height: 42px;
}
main .sixth-section .section6 .title h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 30px;
}
main .sixth-section .section6 svg {
  margin-right: 109px;
}
main .seventh-section {
  background-image: url(../image/section7.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
}
main .seventh-section .section7 {
  width: 100%;
  height: 100%;
}
main .seventh-section .paragraph-icon {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}
main .seventh-section .paragraph-icon .paragraph h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
main .seventh-section .paragraph-icon .paragraph p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  width: 273px;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  margin-bottom: 200px;
}
main .seventh-section .paragraph-icon .icon {
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}
main .seventh-section .paragraph-icon .icon span {
  margin-right: 16px;
}
main .eighth-section {
  background-color: #000000;
  height: 414px;
}
main .eighth-section .container {
  width: 100%;
  height: 100%;
}
main .eighth-section .section8 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .eighth-section .section8 .title {
  text-align: center;
}
main .eighth-section .section8 .title h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 15px;
}
main .eighth-section .section8 .title h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 22px;
}
main .eighth-section .button .fa-circle {
  color: #000000;
  position: absolute;
  margin-top: 8px;
  margin-left: 7px;
  font-size: 25px;
}
main .eighth-section .button button {
  width: 154px;
  height: 42px;
  border-radius: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 20px;
  color: #000000;
  text-indent: 10px;
}

footer {
  background-color: #000000;
  width: 100%;
  height: 100%;
}
footer .container-header {
  max-width: 1200px;
  margin: auto;
}
footer .section-logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}
footer .section-logo figure {
  margin-top: 100px;
}
footer .section-logo figure p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 20px;
  color: #C0C0C0;
  margin-top: 20px;
  margin-right: 270px;
}
footer .business {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
footer .business h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #FFFFFF;
  margin-right: 100px;
}
footer .business a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 10px;
}
footer .page {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
  margin-top: 100px;
}
footer .page h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #FFFFFF;
}
footer .page a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 10px;
}
footer .subscribe {
  width: 100%;
  height: 132px;
  display: flex;
  flex-direction: column;
}
footer .subscribe span {
  width: 1160px;
  height: 2px;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .subscribe .check {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
footer .subscribe .check .newsletter h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  margin-top: 36px;
}
footer .subscribe .check .newsletter p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 20px;
  color: #C0C0C0;
  margin-bottom: 36px;
  margin-right: 497px;
}
footer .subscribe .check input {
  width: 458px;
  height: 52px;
  border-radius: 12px;
  border-color: #C0C0C0;
  background-color: #FFFFFF;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
footer .section-icon {
  display: flex;
  justify-content: flex-start;
  margin-top: 56px;
}
footer .section-icon p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
  margin-right: 630px;
}
footer .section-icon .icon {
  display: flex;
  flex-direction: row;
  color: #C0C0C0;
  margin-bottom: 104px;
}
footer .section-icon .icon i {
  margin-right: 25px;
  height: 24px;
  font-size: 30px;
}/*# sourceMappingURL=style.css.map */